.divmain {
    font-family: 'poppins', sans-serif;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(253, 251, 249);
}

.hello{
    color: rgb(12, 12, 12);
    font-size: 2em;
}   

.addaHabit{
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    margin-right: 1em;
}

.addaHabit a{
    color: white;
    text-decoration: none;
}

.topbar {
    height: auto;
}

.sideBar{
    width: 400px;
    height: auto;
    margin-left: 2em;
    padding:4px;
    border-radius: 12px;
    background-color: rgba(217, 217, 217, 1);
}

.rightTopBarMain{
    display: flex;
    margin-top: 1em;
    margin-right: 1em;
}

.rightTopBar{
    background-color: rgb(94, 0, 0);
    width: 58em;
    height: 100px;
    display: flex;
}

.date{
    background-color: rgba(249, 249, 248, 0.941);
    border-radius: 12px;
    width: 20em;
    height: 120px;
}

.streak{
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
    width: 40em;
    height: 120px;
}

.addHabitButton{
    cursor: pointer;
    background-color: rgb(12, 12, 12);
    color: white;
    border-radius: 12px;
    width: 8em;
    height: 2em;
    margin-top: 1em;
    margin-left: 2.3em;
}

.date h1{
    color: rgb(19, 19, 19);
    font-size: 3em;
    margin-left: 0.6em;
}

.date h2{
    color: rgb(39, 38, 38);
    font-size: 2.2em;
    margin-left: 0.89em;
}

.sideBarCalendar{
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
    border-radius: 12px;
    height: 100px;
}

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 10, 10);
    border-radius: 12px;
}


.rightBottomMain{
    background-color: rgba(217, 217, 217, 1);
    margin-top: 2.8em;
    border-radius: 12px;
    margin-left: 0.5em;
    width: auto;
    height: 22.9em;
}

.header{
    display: flex;
    width: 100%;
    height: 70px;
    border-radius: 12px;
}

.headerLeft{
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 70px;
    border-radius: 12px;
    background-color: tomato;
}

.headerRight{
    width: 60%;
    height: 70px;
    border-radius: 12px;
    background-color: rgb(151, 149, 149);
}
.iconPre{
    margin-top: 1.1em;
    width: 2em;
    height: 2em;
}

.iconNex{
    margin-top: 1.1em;
    width: 2em;
    height: 2em;
}

.weeklyDate{
    margin-top: 0.7em;
}
.weekbox{
    background-color: rgb(152, 151, 151);
    border-radius:10px;
    height:auto;
    width:auto
}
.rightDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
