.input1{
  width: 100%;
  background-color: rgb(240, 235, 244);
  padding: 18px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
}

.input2{
    width: 100%;
    padding-bottom: 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 10px;
}
.firstDiv{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width:50%;

}

.label{
    font-weight: 100px;
    margin-left: 4px;
    width: 200px;
    text-align: start;
    color: aliceblue;
    font-size: 20px;

}

.noAcc{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    margin-top: 8px;
    text-decoration: none;
    color: #ccc;
}

.para{
    margin-right: 15px;
}

.input2:hover {
    opacity: 0.8;
  }

form{
    background-color: black;
}

body{
    background-color: azure;
}