
input[type="text"],[type="email"],[type="password"]{
  width: 100%;
  padding: 18px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 15px;
}

input[type="submit"]{
    width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 15px;
}
.firstDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width:50%;

}

.label{
    font-weight: 500;
    margin-left: 16px;
    width: 200px;
    text-align: start;
    color: aliceblue;
    font-size: 20px;

}


input[type="submit"]:hover {
    opacity: 0.8;
  }