input[type="text"],[type="email"],[type="password"]{
  width: 100%;
  background-color: rgb(240, 235, 244);
  padding: 18px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 10px;
}

input[type="submit"]{
    width: 100%;
    padding-bottom: 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 10px;
}
.firstDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width:50%;

}

.label{
    font-weight: 500;
    margin-left: 4px;
    width: 200px;
    text-align: start;
    color: aliceblue;
    font-size: 20px;

}

.noAcc{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #ccc;
}

.para{
    margin-right: 15px;
}

input[type="submit"]:hover {
    opacity: 0.8;
  }