.profile{
    width: 22em;
    height: 30em;
    background-color: rgb(249, 248, 248);
    border-radius: 8px;
    box-shadow: 5px 2px 30px 5px rgba(0, 0, 0, 0.2);
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileDet{
    background-color: tomato;
    color: black;
}