body{
    background-color: #f7f4fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
form{
    text-align:center;
    padding: 30px;
    padding-top: 20px;
    margin: auto;
    margin-top: 8px;
    width: 400px;
    height:auto;
    background-color: rgb(12, 12, 13);
    border-radius: 4px;
    box-shadow: 3px 4px 10px 10px rgba(35, 35, 35, 0.5);
}
h1{
    text-align: center;
    margin-top: 8px;
    font-size: 50px;

}
input{
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    width: 100%;
    height: 15px;
    margin-bottom: 24px;
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 20px 
}
.label{
    font-weight: 100px;
    margin-left: 4px;
    margin-bottom: 5px;
    width: 200px;
    text-align: start;
    color: aliceblue;
    font-size: 20px;
}

button{
    width: 100%;
    font-size: 18px;
    margin-left: 6px;
    padding: 25px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 1);
}
button:hover{
    opacity: 0.8;
    background-color: #cecaca;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
}
button:active{
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
}
p{
    color: #f5f5f5;
    font-size: 15px;
    margin-top: 10px;
}