.h1{
    color: white;
}

.singleList{
    display: flex;
    margin:3px;
    padding: 10px 20px;
    border-radius: 25px;
    width: 17em;
    background-color: white;
    align-items: center;
    justify-content: left;
}
.singleList:hover{
    cursor:pointer;
}
.truesingleList{
    display: flex;
    margin:3px;
    padding: 10px 20px;
    border-radius: 25px;
    width: 17em;
    align-items: center;
    justify-content: left;
    background-color: black;
    color: white;
}

.categoryHabit{
    color: rgba(217, 217, 217, 1);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.habit2{
    background-color:rgba(217, 217, 217, 1);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 4px;
}

.iconDiv{
    background-color: rgb(183, 187, 187);
    display: flex;
    margin-top: 10px;
    margin-right: 12px;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 16px;
}
.icon{
    width: 30px;
}
.checkBox{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.checkBoxInp{
    width: 15px;
    height: 15px;
    border: 1.7px solid black;
    border-radius: 2px;
    cursor: pointer;
}
.allhabitlistbox{
    overflow-y: scroll;
    height: 500px;
    padding: 5px;
}
.allhabitlistbox::-webkit-scrollbar {
    width: 12px;
}
.allhabitlistbox::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}
.allhabitlistbox::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}
.allhabitlistbox::-webkit-scrollbar-thumb:hover {
    background: #555;
}