.habit2{
    background-color: black;
    width: 80%;
    height: 10px;
}

.header{
    color: white;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.delete{
    margin-right: -10px;
    margin-left: 3px;
    height: 50px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    cursor: pointer;
    color: white;
    width: 30px;
    height: 30px;
}

.icon:hover{
    color: rgb(171, 169, 169);
}

.listMain{
    display: flex;
}

.list{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.unordered{
    width: 90%;
    list-style-type: none;
}

.name{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.63px;
}

.headHabit{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}

.timePeriod{
    font-size: 13px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: right;

}
.categoryHabit{
    margin-left: 10px;
    color: #E55733;
    font-weight: 400;
    font-size: 12px;
}

.text{
    background-color: white;
    width: 95%;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.text2{
    display: flex;
    justify-content: space-between;
}

.timeDate{
    display: flex;
}

#days{
    margin-right: 1.5px;
}
