.mainHeader{
    display: flex;
    justify-content: center;
}

.header{
    border-radius: 18px;
    color: white;
    background-color: black;
    width: 70%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
br{
}

.curYear, .curMonth, .weekDates{
    color: rgb(63, 63, 63);
    font-size: 20px;
}

.week, .month, .year{
    margin-top: -5px;
    font-size: 30px;
}

