.calendarDiv{
    padding:5px;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 50px;
}
.day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: stretch;
    padding: 3px;
    width: 30px;
    height: 60px;
    border-radius: 15px;
    background-color: none;
}
.day:hover{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: stretch;
    padding: 3px;
    width: 30px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255,0.5);
}
.selectedday{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: stretch;
    padding: 3px;
    width: 30px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.dayWeek{
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 700;
}

.dateWeek{
    font-size: 25px;
    font-weight: 500;
}
.dateshowingbar{
    padding:3px;
    margin: 3px;
    font-size: medium;
    height: 15px;
}

.icon{
    margin:3px;
    background-color: none;
}
.icon:hover{
    background-color:rgb(180, 176, 176);
    border-radius: 100px;
}
.icon:active{
    background-color: rgb(145, 145, 145);
    border-radius: 20px;
}